<navigation></navigation>


<div id='main-wrapper'>

  <sidebar></sidebar>
  
  <div id="page-content-wrapper" class="container-fluid">
  
    <div class="row">
      <div class="col-md-6">
        <h1 class="form-signin-heading">Calendar</h1>
    
        
      <!--<div ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources" calendar="vm.myCalendar">-->
        <div id='calendar' class='calendar' ng-model="vm.eventSources"></div>
        <!--<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>-->
        
        
      </div>
    
    </div>
  </div>    
</div>

