<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      
      <li class="sidebar-brand">
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
          <a href="/profile">My Account</a>
      </li>
      <li>
          <a href="/patients">Patients</a>
      </li>
      <li>
          <a href="/patient-exercises">Patient Exercises</a>
      </li>
      <li>
          <a href="/manager">Manager</a>
      </li>
      <li>
          <a href="/messages">Messages<div id='sidebar-messages'>{{sidevm.numNewMessages}}</div></a>
      </li>
      <li>
          <a href="/exercises">Exercises Data</a>
      </li>
      <li>
          <a href="/calendar">Calendar</a>
      </li>
      <li>
          <a href='#' ng-click='sidevm.signOut()'>Sign Out</a>
      </li>
    </ul>
    <a ng-click='vm.toggleSidebar' id="menu-toggle"></a>
</div>