<navigation></navigation>

<style type="text/css">
  .fc-view-container{
    background-color: white;
  }
</style>
<div id='main-wrapper'>

  <sidebar></sidebar>
  
  <div id="page-content-wrapper" class="container-fluid">
    
    <div class="row" ng-hide="vm.everythingLoaded">
      <!--<h1 class="form-signin-heading col-md-12">Calendar</h1>-->
      <div class="progress progress-striped active" >
        <div class="progress-bar" style="width: 90%"></div>
      </div>
    </div>
    
    <div class="row" >
      <h1 class="form-signin-heading col-md-12">Calendar</h1>
      <div class="col-md-9">
        
    
        
      <!--<div ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources" calendar="vm.myCalendar">-->
        <div id='calendar' class='calendar hh-panel well' ng-model="vm.eventSources"></div>
        <!--<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>-->
        
            </div>
            <div class='col-md-3 hh-panel'>
              <legend>Event Types</legend>
              <div id='blueSwatch'class='col-md-12'>
                <p>Completed Exercise</p>
              </div> 
              <div id='orangeSwatch'class='col-md-12'>
                <p>Scheduled Exercise</p>
              </div>
              <div id='yellowSwatch'class='col-md-12'>
                <p>Appointment</p>
              </div>
              <br>
              <div>
                <select class='form-control' id='select'>
                  <option ng-selected = 'selected'>-Select patient-</option>
                  <option value = "Appointment">My Appointments</option>
                  <option ng-repeat= 'p in vm.patientList' value = "{{p._id}}">{{p.name}}</option>
                </select>
              </div>
              
            </div>
              
          <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel">Viewing: {{vm.modal.details}}</h3>
            </div>
            <div class="modal-body">
              
              <div id='individualGraphArea' class="well">
                <div ng-if="vm.zoom == true">
                  <!--<p class="h3x">exercise: {{vm.modal.gameObject.code}}</p>-->
                  <!--<p class="h3x">completion time: {{vm.modal.gameObject.time}}</p>-->
                  <button class="btn btn-primary btn-sml" ng-click="vm.prev()">prev</button>
                  <button class="btn btn-primary btn-sml" ng-click="vm.next()">next</button>
                </div>
                
                <br>
                <div class='graph' id='graph'>
                  <canvas id="my-graph"></canvas>
                </div>
                  
                <div ng-if="vm.graphDisplayed == true">
                  <button class="btn btn-primary btn-sml" ng-click="vm.changeGraphType('line','modal')">line</button>
                  <button class="btn btn-primary btn-sml" ng-click="vm.changeGraphType('bar','modal')">bar</button>
                </div>
              </div><!-- graphArea -->
              <div ng-controller='simCtrl'>
                   <canvas  ng-init ='initCanvas()'ng-click="initFromModal(vm.gameObject)" id='simulation' width=1000 height="500" >
                </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

        
        
        
      
    
    </div>
  </div>    
</div>

